.about-container{
    max-width: 70%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 2rem;
}
.about-container .about{
    margin-bottom: 50px;
    max-width: 40%;
}
.about h2{
    color: #005792;
    letter-spacing: 2px;
}
.about a{
    display: inline-block;
    width: 20%;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.8);
    padding: 12px 15px;
    background-color: #005792;
    border-radius: 7px;
    margin-top: 12px;
}
.about a:hover{
    color: white;
    transition: 300ms all ease-in-out;
}
/* responsive section */

@media screen and (max-width: 450px){
    .about-container{
        /* max-width: 100%; */
        display: block;
    }

    .about-container.baout{
        width: 100%;
        text-align: center;
    }
    .about h2{
        font-size: 1.2rem;
    }
    .about a{
        font-size: 0.8rem;
        width: 70px;
        text-align: center;
    }
}